.error {
    color: red;
}

.page-title {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 1em;
    color: darkblue;
}

label {
    font-family: 'Oswald', sans-serif;
    font-size:13;
}

.accountBalanceText {
    font-family: 'Roboto', sans-serif;

}