<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Policy Account Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Management for Policy Accounts">
  <meta name="author" content="Michael Terrell">
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js">
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js">
  </script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous">
  </script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous">
  </script>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link
    rel="stylesheet"
    type= "text/css"
    href= "{{ url_for('static',filename='styles/main.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
    <div class="container">
      <h2 class="text-center page-title">Policy Account Management</h2>
      
      <form>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="policy-number">Policy #: </label>
              <div class="col-sm-12">
                <input
                  class="form-control"
                  id="policy-number"
                  data-bind="value: policyNumber, valueUpdate: 'afterkeydown'"
                  required="required"/>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="data-request">Date: </label>
              <div class="col-sm-12">
                <input
                  class="form-control"
                  id="date-request"
                  type="date"
                  data-bind="value: date"
                  required="required" />
              </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-center">
              <button class="btn btn-info" data-bind="click: executeSearch">Find Policy Info</button>
            </div>
          </div>
      </form>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Invoice Id</th><th>Policy Id</th><th>Bill Date</th><th>Due Date</th>
              <th>Cancel Date</th><th>Amount Due</th><th>Deleted</th>
            </tr>
          </thead>
            <tbody data-bind="foreach: invoices">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: policy_id"></td>
                    <td data-bind="text: bill_date"></td>
                    <td data-bind="text: due_date"></td>
                    <td data-bind="text: cancel_date"></td>
                    <td data-bind="text: amount_due"></td>
                    <td data-bind="text: deleted"></td>
                </tr>
            </tbody>
        </table>
      </div>
      <h3 class="text-center" data-bind="text: accountBalance"> </h3>
    </div>
    <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
